setuptools
six
numpy
bob.extension
bob.bio.base
bob.io.base
bob.ip.base
bob.pad.base
bob.bio.face
bob.bio.video
bob.io.image
bob.ip.color
bob.ip.qualitymeasure
bob.ip.dlib
bob.ip.facelandmarks
bob.learn.libsvm
bob.learn.linear
scikit-learn

